    :root{
        --basecolor: #F0D58Eff;
    }

    *{
        font-family:Arial, Helvetica, sans-serif;
        font-style:normal;
    }

    /* nav */
    nav{
        position: sticky;
        top: 0;
        z-index: 10;
        width: 100%;
        display: flex;
        background-color:grey;
    }

    nav h1{
        align-self: center;
        margin-left: 10%;
        margin-right: auto;
        width: 40%;
        font-size: 1.5rem;
    }

    nav ul{
        margin: 0 10% 0 auto;
        display: grid;
        width: 60%;
        grid-template-columns: repeat(2, min-content);
        grid-gap: 30px;
        align-items: center;
        justify-items: center;
    }

    nav ul li{
        list-style: none;
    }

    /* car section */
    #car-section{
        height:300px;
        text-align:center;
        display: grid;
        grid-template-columns:repeat(5, 1fr);
        margin: 0% 7%;
    }

    #car-section .car{
        display:grid;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        background-color:aquamarine;
        margin: 10px;
        width:95%;
        border-radius:20px;
        height: 95%;
    }

    #car-section .car h3{ /* year + manu + model */
        grid-column: 1/-1;
        grid-row: 1;
    }

    #car-section .car h2 { /* tier */ 
        grid-column: 1;
        grid-row: 2;
    }

    #car-section .car h5 { /* price */
        grid-column: 2;
        grid-row: 2;
    }

    /* tuner */

    #tune-section
    {
        width:100%;
        display:grid;
        grid-template-columns: 20% 80%;
    }

    #tunebutton
    {
        grid-column:1;
        background-color: rgb(200, 200, 200);
        display:grid;
        height:400%;
    }

    #tunescreen
    {
        grid-column:2;
    }

    #tunebutton div
    {
        width: 100%;
        height: 100%;
        border:1px solid;
        text-align:center;
    }

    #upgrades
    {
        height: 200%;
        display: flex;
        flex-wrap: column;
        justify-content:center;
    }

    #upgrades div
    {
        border: 1px solid;
        margin-left:1%;
        margin-top: 1%;
        width: 20%;
        height:25%;
    }

    #upgrades .selected-button
    {
        background-color: blue;
    }